*{
    margin:0;
    padding:0;
}

.skybackground
{
    background-color:black;
    min-width: 100%;
    min-height:100vh;
    background-image: url("images/sky.jpg");
    overflow-x: hidden;
    position: relative;
    background-size: cover;
    background-position: center;

}
.highway{
    background-repeat: repeat-x;
    bottom: 0;
    right: 0;
    left: 0;
    width:700%;
    height:210px;
    background-image: url("images/road.jpg") ;
    position: absolute;
    z-index: 1;
    display:block;
    animation: highway 5s linear infinite;  

}
@keyframes highway{
    100%{
        transform: translate(-2700px);
    } 
}

.city{
    width:500%;

    left:0;
    right:0;
    bottom:200px;
    height:250px;
    background-image:url("images/city.png");
    position: absolute;
    
    background-repeat: repeat-x;
    display:block;
    z-index:1;
    animation: city 10s linear infinite;
}
@keyframes city{
    100%{
        transform: translate(-1200px);
    }
}
.car{
    width:400px;
    left:50%;
    bottom:100px;
    transform:translate(-50%); 
    position: absolute;
    z-index:2;
}
.car img{
    width:100%;
    animation: car 1s linear infinite;
}
@keyframes car{
    100%{
        transform: translateY(-2px);
    }
    50%{
        transform: translateY(1px);
    }
    0%{
        transform: translateY(-2px);
    }

}
.wheel{
    left:50%;
    bottom:178px;
    transform:translateX(-50%);
    position: absolute;
    z-index: 2;

}

.wheel img{
    width:72px;
    height:72px;
    animation: wheel 1s linear infinite;
}

@keyframes wheel{
    100%{
        transform: rotate(360deg);
    }
    
}

.back-wheel{
    left:-165px;
    position: absolute;

}
.front-wheel{
    left:80px;
    position: absolute;
}